
              <!-- Property Section Start -->
              <section class="property section-padding">
                <div *ngFor="let sec of Categories" class="container">
                  
                  <div class="row">
                    <div class="col-12">
                      <div class="section-title-header text-center">
                        <h2 class="section-title">{{sec.category}}</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="justify-content: center;" >
                    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <div class="row">
                    <div *ngFor="let _post of Pages" class="col-lg-4 col-md-6 col-xs-12">
                      <div class="property-main">
                        <div class="property-wrap">
                          <div class="property-item">
                            <div class="item-thumb">
                              <a class="hover-effect" href="property.html">
                                <img class="img-fluid" [src]="_post.image" alt="">
                              </a>
                              <div class="label-inner">
                              <span class="label-status label bg-red">{{_post.date | date}}</span>
                              </div>
                            </div>
                            <div class="item-body">
                              <h3 class="property-title"><a href="property.html">{{_post.title}}</a></h3>
                              <div class="adderess">{{_post.des}}</div>
                              <!-- <div *ngFor="let f of _post.fields"><div class="adderess"><i [class]="f.icon"></i>{{f.title}}:<span class="m-1">{{f.value}}</span></div></div> -->
                              <div class="pricin-list">
                               <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                              </div>
                            </div>           
                          </div>              
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-center">
                        <!-- <h4 *ngIf="Posts" class="btn btn-common">Browse All</h4> -->
                      </div> 
                    </div>  
                  </div>
                </div>
              </section>
              <!-- Property Section End -->   