<!-- Nested Row within Card Body -->
<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-12">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h1 text-gray-900 mb-4">Create New Account</h1>
      </div>
      <form #regForm="ngForm" class="user" (ngSubmit)="register(regForm.value)" >
        <div *ngIf="ErrorMessage !='' "  class="alert alert-danger alert-dismissible fade show">
          {{ErrorMessage}}
         <button type="button" class="close" data-dismiss="alert">&times;</button>
       </div>
       <div *ngIf="SuccessMessage !='' "  class="alert alert-primary alert-dismissible fade show">
        {{ErrorMessage}}
       <button type="button" class="close" data-dismiss="alert">&times;</button>
     </div>
        <div class="form-group">
          <input ngModel type="email" name="name" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <input ngModel type="text" name="email" class="form-control form-control-user" id="exampleInputUser" aria-describedby="userHelp" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <input ngModel type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
        </div>
        <div class="form-group">
          <input ngModel type="password" name="confirmPassword" class="form-control form-control-user" id="exampleConfirmPassword" placeholder="ConfirmPassword">
        </div>
      
        <button type="submit" class="btn btn-user btn-block">
          Register
        </button>
        
        <a [routerLink]="'/auth'" class="btn btn-user btn-block">Login</a>
      </form>
      <hr>
      <div class="text-center">
        <a class="small" [routerLink]="'/auth/reset'">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>