<header id="header-wrap">
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 col-xs-12">
          <!-- Start Contact Info -->
          <ul class="links clearfix">
            <li><i class="lni-phone-handset"></i>1-800-555-1234</li>
            <li><i class="lni-envelope"></i> info@example.com</li>
            <li><a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</a></li>
          </ul>
          <!-- End Contact Info -->
        </div>
        <div class="col-lg-5 col-md-4 col-xs-12">
          <div class="roof-social float-right">
            <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
            <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
          </div>
          <div class="header-top-right float-right">
            <a href="/auth" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
            <a href="/auth/register" class="header-top-button"><i class="lni-pencil"></i> Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Bar -->

  
  <div class="clearfix"></div>
</header>
<div class="">
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-5 col-md-6">
        <div class="card o-hidden border-0 shadow-l my-5">
          <div class="card-body p-0">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

