
    <!-- Header Area wrapper Starts -->
  
      <!-- Header Area wrapper End 
  
  <section id="intro" class="section-intro">
        <div class="search-container">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h4 class="intro-sub-heading">You are using Fre Lite Version!</h4>
                <h2 class="intro-title">Please, Make Purchase Full Version to Get All Pages and Features</h2>
                <a href="https://rebrand.ly/estatebit-purchase-ud" rel="nofollow" class="btn btn-danger btn-lg">PURCHASE NOW</a>
              </div>
            </div>
          </div>
        </div>
      </section>-->
<div>
    <router-outlet></router-outlet>
</div>
    <!-- Footer Section Start -->
 

    
