
    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Start Top Bar -->
        <div class="top-bar">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-8 col-xs-12">
                <!-- Start Contact Info -->
                <ul class="links clearfix">
                  <li><i class="lni-phone-handset"></i>1-800-555-1234</li>
                  <li><i class="lni-envelope"></i> info@example.com</li>
                  <li><a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</a></li>
                </ul>
                <!-- End Contact Info -->
              </div>
              <div class="col-lg-5 col-md-4 col-xs-12">
                <div class="roof-social float-right">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
                <div class="header-top-right float-right">
                  <a href="/auth" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                  <a href="/auth/register" class="header-top-button"><i class="lni-pencil"></i> Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Top Bar -->
  
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white"  data-toggle="sticky-onscroll">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="lin-menu"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt=""></a>
            </div>
  
            <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="navbar-nav mr-auto w-100 justify-content-center">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="">
                    Home <i class="fa fa-angle-down"></i>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Listing <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a *ngFor="let cat of Categories" class="dropdown-item" href="">{{cat.name}}</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gallery <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="portfolio-2.html">2 Columns Gallery</a>
                    <a class="dropdown-item" href="portfolio-3.html">3 Columns Gallery</a>
                    <a class="dropdown-item" href="portfolio-4.html">4 Columns Gallery</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="about.html">About Us</a>
                    <a class="dropdown-item" href="agents.html">Agents</a>
                    <a class="dropdown-item" href="rent.html">For Rent</a>
                    <a class="dropdown-item" href="sale.html">For Sale</a>
                    <a class="dropdown-item" href="pricing.html">Pricing Tables</a>
                    <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                    <a class="dropdown-item" href="submit-property.html">Submission Form</a>
                    <a class="dropdown-item" href="faq.html">FAQ</a>
                    <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                    <a class="dropdown-item" href="typography.html">Typography</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Blog <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="blog.html">Blog Page</a>
                    <a class="dropdown-item" href="single-blog.html">Blog Single Page</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">
                    Contact Us
                  </a>
                </li>
                <li class="nav-item ml-1 active">
                    <a class="nav-link" href="/post">
                      Add Post <i class="fa fa-angle-down"></i>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
  
          <!-- Mobile Menu Start -->
          <ul class="mobile-menu">
            <li>
              <a class="active" href="index.html">
              Home
              </a>
              <ul class="dropdown">
                <li>
                  <a class="active" href="index.html">
                    Home V1
                  </a>
                </li>  
                <li>
                  <a href="index-2.html">
                    Home V2
                  </a>
                </li>   
                <li>
                  <a href="index-3.html">
                    Home V3
                  </a>
                </li> 
              </ul>
            </li>
            <li>
              <a href="#">
                Listing
              </a>
              <ul class="dropdown">
                <li><a href="listing.html">Simple Listing</a></li>
                <li><a href="grid-listing.html">Grid Listing</a></li>
                <li><a href="listing-map.html">List with Google Map</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Property</a>
               <ul class="dropdown">
                <li><a href="property.html">Default- Variation</a></li>
                <li><a href="single-property.html">Single Property</a></li>
                <li><a href="full-gallery.html">Full Width Gallery</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                Gallery
              </a>
              <ul class="dropdown">
                <li><a href="portfolio-2.html">2 Columns Gallery</a></li>
                <li><a href="portfolio-3.html">3 Columns Gallery</a></li>
                <li><a href="portfolio-4.html">4 Columns Gallery</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pages</a>
              <ul class="dropdown">
                <li><a href="about.html">About Us</a></li>
                <li><a href="agents.html">Agents</a></li>
                <li><a href="rent.html">For Rent</a></li>
                <li><a href="sale.html">For Sale</a></li>
                <li><a href="pricing.html">Pricing Tables</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="submit-property.html">Submission Form</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="typography.html">Typography</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Blog</a>
              <ul class="dropdown">
                <li><a href="blog.html">Blog Page</a></li>
                <li><a href="single-blog.html">Blog Single Page</a></li>
              </ul>
            </li>
            <li>
              <a href="contact.html">
              Contact Us
              </a>
            </li>
          </ul>
          <!-- Mobile Menu End -->
        </nav>
        <!-- Navbar End -->
        <div class="clearfix"></div>
      </header>
      <!-- Header Area wrapper End 
  
  <section id="intro" class="section-intro">
        <div class="search-container">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h4 class="intro-sub-heading">You are using Fre Lite Version!</h4>
                <h2 class="intro-title">Please, Make Purchase Full Version to Get All Pages and Features</h2>
                <a href="https://rebrand.ly/estatebit-purchase-ud" rel="nofollow" class="btn btn-danger btn-lg">PURCHASE NOW</a>
              </div>
            </div>
          </div>
        </div>
      </section>-->
<div>
    <router-outlet></router-outlet>
</div>
    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">About <span>Us</span></h3>
              <ul class="footer-link">
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Graphic Design</a></li>           
                <li><a href="#">Documentation</a></li>           
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Usefull<span> Links</span></h3>
              <ul class="footer-link">
                <li><a href="#">Bayonne, New York</a></li>
                <li><a href="#">Greenville, Chicago</a></li>
                <li><a href="#">The Heights, New Jersey</a></li>
                <li><a href="#">Bayonne, Washington DC</a></li>
                <li><a href="#">Greenville, San Francisco</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contact <span>Info</span></h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US<br> View, CA 94041USA</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> (518) 2014-040 43</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> hello@example.com</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Subscribe <span>on Our News</span></h3>
             <!-- <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                <div class="form-group is-empty">
                  <input type="email" value="" name="Email" class="form-control" id="EMAIL" placeholder="Email address" required="">
                  <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i class="lni-envelope"></i></button>
                  <div class="clearfix"></div>
                </div>
              </form>-->
              <div class="social-icon">
                <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
          </div>
        </div>  
      </div>     
    </footer> 
    <!-- Footer Section End -->

    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright © 2018 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
          </div>
        </div>
      </div>
    </section> 



    
