.btn-primary{
    background-color: #0dcdbd !important;
    border-color: #0dcdbd !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
}
mat-panel-title{
        font-size: 14px;
        text-transform: uppercase;
        line-height: 20px;
        color: #0dcdbd;
    
}
input{
    width: auto;
}

.spinner-border{
    vertical-align: none !important;
}