.btn-primary{
    background-color: #0dcdbd !important;
    border-color: #0dcdbd !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
}
mat-panel-title{
        font-size: 14px;
        text-transform: uppercase;
        line-height: 20px;
        color: #0dcdbd;
    
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color: #0dcdbd !important;
}

.mat-step-icon-state-number .mat-step-icon .mat-step-icon-selected{
    background-color: #0dcdbd !important;
}
.mat-step-icon-selected{
    background-color: #0dcdbd !important;
}

mat-step-icon-selected{
    background-color: #0dcdbd !important;
}

input{
    width: auto;
}

.spinner-border{
    vertical-align: none !important;
}