<div class="dashborad-box">
    <h4 class="title">Manage Dashboard</h4>
    <div class="section-body">
    <div class="row">
    <div class="col-sm-4">
    <div class="item">
    <div class="icon">
    <span class="lni-map-marker"></span>
    </div>
    <div class="info">
    <h6 class="number">12</h6>
    <p class="type">Listing</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="item">
    <div class="icon">
    <span class="lni-thumbs-up"></span>
    </div>
    <div class="info">
    <h6 class="number">30</h6>
    <p class="type">Review</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="item">
    <div class="icon">
    <span class="lni-comments"></span>
    </div>
    <div class="info">
    <h6 class="number">18</h6>
    <p class="type">Messages</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="dashborad-box">
    <h4 class="title">Listing</h4>
    <div class="section-body listing-table">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>Listing Name</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Status</th>
    <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Amazing oceanfront apartment</td>
    <td>17 May 2018</td>
    <td class="rating"><span>4.3</span></td>
    <td class="status"><span class=" active">Active</span></td>
    <td class="edit"><a href="#"><span class="lni-pencil"></span></a></td>
    </tr>
    <tr>
    <td>Red Blue Restaurant</td>
     <td>17 May 2018</td>
    <td class="rating"><span>4.3</span></td>
    <td class="status"><span class="active">Active</span></td>
    <td class="edit"><a href="#"><span class="lni-pencil"></span></a></td>
    </tr>
    <tr>
    <td>Amazing oceanfront apartment</td>
    <td>12 June 2018</td>
    <td class="rating"><span>4.3</span></td>
    <td class="status"><span class="non-active">Non-Active</span></td>
    <td class="edit"><a href="#"><span class="lni-pencil"></span></a></td>
    </tr>
    <tr>
    <td>Luxury home for sale</td>
    <td>31 Aug 2018</td>
    <td class="rating"><span>4.3</span></td>
    <td class="status"><span class="active">Active</span></td>
    <td class="edit"><a href="#"><span class="lni-pencil"></span></a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>