<div class="dashborad-box">
    <h4 class="title">Manage Dashboard</h4>
    <div class="section-body">
    <div class="row">
    <div class="col-sm-4">
    <div class="item">
    <div class="icon">
    <span class="lni-map-marker"></span>
    </div>
    <div class="info">
    <h6 class="number">{{posts.length}}</h6>
    <p class="type">Listing</p>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="item">
    <div class="icon">
    <span class="lni-thumbs-up"></span>
    </div>
    <div class="info">
    <h6 class="number">0</h6>
    <p class="type">Review</p>
    </div>
    </div>
    </div>
    <!-- <div class="col-sm-4">
    <div class="item">
    <div class="icon">
    <span class="lni-comments"></span>
    </div>
    <div class="info">
    <h6 class="number">18</h6>
    <p class="type">Messages</p>
    </div>
    </div>
    </div> -->
    </div>
    </div>
    </div>
    <div class="dashborad-box">
    <h4 class="title">Listing</h4>
    <div class="section-body listing-table">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>Listing Name</th>
    <th>Category</th>
    <th>Date</th>
    <th>Status</th>
    <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
    <td>{{post.title}}</td>
    <td>{{post.category}}</td>
    <td>{{post.date | date:'mediumDate'}}</td>
    <td class="rating"><span>4.3</span></td>
    <td class="status"><span class=" active">Active</span></td>
    <td class="edit"><a (click)="posts.splice(posts.indexOf(post),1)"><span class="lni-trash text-danger"></span></a></td>
    </tr>
   
    </tbody>
    </table>
    </div>
    </div>
    </div>