
<section class="user-page section-padding">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-5 col-xs-12">
    <div class="user-profile-box">
    
    <div class="header clearfix">
    <h2 *ngIf="User">{{User.name}}</h2>
    <h4>Real Estate Agent</h4>
    <!-- <img [src]="User.profile_pic" alt="avatar" class="img-fluid profile-img"> -->
    </div>
    
    <div class="detail clearfix">
    <ul>
    <li>
    <a class="active" routerLink='/profile'>
    <i class="lni-files"></i> Dashboard
    </a>
    </li>
    <li>
    <a routerLink='/profile/settings'>
    <i class="lni-user"></i>Profile
    </a>
    </li>
    <li>
    <a routerLink='/profile/posts'>
    <i class="lni-home"></i>My Posts
    </a>
    </li>
    <li *ngIf="User!=undefined && User.showroom.length>0" >
        <a routerLink='/profile/showroom'>
        <i class="lni-home"></i>Showroom
        </a>
    </li>
    <li >
        <a routerLink='/profile/pages'>
        <i class="lni-home"></i>Pages
        </a>
    </li>
    <!-- <li>
    <a href="favorited-properties.html">
    <i class="lni-heart"></i>Favorited Properties
    </a>
    </li> -->
    <li>
    <a routerLink='/post'>
    <i class="lni-plus"></i>Submit New Property
    </a>
    </li>
    <li>
    <a routerLink='/profile/changepassword'>
    <i class="lni-lock"></i>Change Password
    </a>
    </li>
    <li>
    <a (click)="logout()">
    <i class="lni-logout"></i>Log Out
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-lg-8 col-md-7 col-xs-12">
   
    <router-outlet></router-outlet>
        
    <!-- <div class="dashborad-box">
    <h4 class="title">Review</h4>
    <div class="section-body">
    <div class="reviews">
    <div class="review">
    <div class="thumb">
    <img class="img-fluid" src="assets/img/dashboard/thumb-1.jpg" alt="">
    </div>
    <div class="body">
    <h6>John Doe
    <span class="stars">
    <i class="lni-star-filled"></i>
    <i class="lni-star-filled"></i>
    <i class="lni-star-filled"></i>
    <i class="lni-star"></i>
    <i class="lni-star"></i>
    </span>
    </h6>
    <p class="post-time">5 hours ago</p>
    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    <div class="controller">
    <ul>
    <li><a href="#"><i class="lni-check-box"></i></a></li>
    <li><a href="#"><i class="lni-pencil-alt"></i></a></li>
    <li><a href="#"><i class="lni-reply"></i></a></li>
    <li><a href="#"><i class="lni-trash"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="review">
    <div class="thumb">
    <img class="img-fluid" src="assets/img/dashboard/thumb-2.jpg" alt="">
    </div>
    <div class="body">
    <h6>Charli Maria
    <span class="stars">
    <i class="lni-star-filled"></i>
    <i class="lni-star-filled"></i>
    <i class="lni-star"></i>
    <i class="lni-star"></i>
    </span>
    </h6>
    <p class="post-time">39 Minutes ago</p>
    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    <div class="controller">
    <ul>
    <li><a href="#"><i class="lni-check-box"></i></a></li>
    <li><a href="#"><i class="lni-pencil-alt"></i></a></li>
    <li><a href="#"><i class="lni-reply"></i></a></li>
    <li><a href="#"><i class="lni-trash"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->
    
    </div>
    </div>
    </div>
    </section>