<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <!-- <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar> -->
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav mode="over" style="width:300px" [fixedInViewport]="true" fixedTopGap="0">
        <div *ngFor="let cat of Categories" class="m-3">
          <ul class="list-group">
            <li class="list-group-item head">{{cat.name}}</li>
            <li *ngFor="let sub of cat.cat" class="list-group-item">{{sub.name}}</li>
          </ul>

        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <header id="header-wrap">
              <!-- Start Top Bar -->
              <div class="top-bar">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 col-md-8 col-xs-12">
                      <!-- Start Contact Info -->
                      <ul class="links clearfix">
                        <li><i class="lni-phone-handset"></i>1-800-555-1234</li>
                        <li><i class="lni-envelope"></i> info@example.com</li>
                        <li><a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</a></li>
                      </ul>
                      <!-- End Contact Info -->
                    </div>
                    <div class="col-lg-5 col-md-4 col-xs-12">
                      
                      <div class="roof-social float-right">
                        <a routerLink="/post" class="facebook btn"><i class="lni-plus"></i> Post</a>
                        <!--<a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                        <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                        <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a> -->
                        <a class="facebook btn"   [matMenuTriggerFor]="menu"><i class='lni lni-user'></i></a>
                          <mat-menu #menu="matMenu">
                            <button [routerLink]="[ '/profile' ]" mat-menu-item>Profile</button>
                            <button mat-menu-item>Setting</button>
                            <button mat-menu-item>Logout</button>
                          </mat-menu>
                      </div>
                      <div class="header-top-right float-right">
                        <a href="/auth" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                        <a href="/auth/register" class="header-top-button"><i class="lni-pencil"></i> Register</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Top Bar -->
    
        <div class="sb-modern4-header">
          <section class="sb-bk-search-area"> 
              <div class="container">
                  <div class="row">
                      <div class="col-lg-2 col-xs-12 col-sm-3 col-md-2">
                          <div class="bk-srch-logo">
                              <a href=""><img src="https://adforest.scriptsbundle.com/bookforest/wp-content/uploads/sites/53/2017/03/book.png" alt="Site Logo" id="sb_site_logo"></a>                    </div>
                      </div>
                      <div class="col-lg-6 col-sm-5 col-xs-12 col-md-6 col-lg-offset-1 col-md-offset-1">
                              <form action="https://adforest.scriptsbundle.com/bookforest/search-results/">
                                  <div class="sb-bk-new-srch-area">
                                      <div class="">
                                          <input placeholder="What Are You Looking For ?" type="text" name="ad_title" value="" autocomplete="off">                               
                                          <div class="sb-bk-submit-form">
                                                                                      <button class="btn-theme" type="submit"><i class="fa fa-search-plus"></i></button>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <div class="col-lg-4 col-sm-5 col-xs-12 col-md-4 col-lg-offset-1 col-md-offset-1">
                         
                        </div>
                  </div>
              </div>
          </section>
              <div class="sb-latest-book-menu">
              <div class="sb-sprt-header">
                  <div class="sb-srvs-top-header">
                      <div class="sb-top-header-3">
                          <div class="sb-top-header">
                              <nav id="menu-1" class="mega-menu menu-2"> 
                                  <!-- menu list items container -->
                                  <section class="menu-list-items">
                                      <div class="container">
                                          <div class="row">
                                              <div class="col-lg-12 col-md-12"> 
                                                <ul class="menu-logo">
                                                    <li class="menu-separator">
                                                      <a (click)="snav.toggle()">
                                                        <div class="book-menu-list-items">
                                                            <i class="fa fa-bars"></i>
                                                        </div></a>
                                                   </li>
                                                      <li class="menu-separator dropdown open"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                                                              <div class="book-menu-list-items">
                                                                  <!-- <i class="fa fa-bars"></i> -->
                                                              </div>
                                                              All Categories</a>
                                                          <ul class="dropdown-menu">
                                                              <li *ngFor="let cat  of Categories"><a [routerLink]="[ '/search', cat.name,'' ]">{{cat.name}}</a></li>
                                                            </ul>
                                                      <div class="menu-mobile-collapse-trigger"><span></span></div></li>
                                                     
                                                </ul>
                                                <ul class="menu-links" style="display: block; max-height: 400px; overflow: auto;">

                                                    <li *ngFor="let category of Categories" class="hoverTrigger">
                                                        <a href="#">{{category.name}}  <i class="fa fa-angle-down fa-indicator"></i>
                                                            <div class="mobileTriggerButton"></div>
                                                          </a>
                                                            <p *ngFor="let sub of category.cat">
                                                              <!-- {{sub.name}} -->
                                                              <a [routerLink]="[ '/search', category.name, sub.name ]">{{sub.name}}  </a>
                                                            </p>
                                                       
                                                       
                                                    <!-- <ul class="drop-down-multilevel grid-col-12 effect-expand-top" style="transition: all 400ms ease 0s;">
                                                        <li *ngFor="let sub of category.cat" class="hoverTrigger"></li>
                                                    </ul> -->
                                                    </li>
                                                    <li class="hoverTrigger">
                                                      <a href="#">Headers  
                                                        <i class="fa fa-angle-down fa-indicator"></i>
                                                      </a>
                                                      <p>Headers Headers
                                                      </p>
                                                     
                                                    </li>
                                                    <li class="hoverTrigger"><a routerLink="/news">News <i class="fa fa-angle-down fa-indicator"></i><div class="mobileTriggerButton"></div></a>
                                                    </li>
                                                    <li class="hoverTrigger"><a href="#">Categories  <i class="fa fa-angle-down fa-indicator"></i><div class="mobileTriggerButton"></div></a>
                                                      <ul class="drop-down-multilevel grid-col-12 effect-expand-top" style="transition: all 400ms ease 0s;"><li class="hoverTrigger"><a href="http://adforest.scriptsbundle.com/category-classic/">Category 1  </a></li><li class="hoverTrigger"><a href="http://adforest.scriptsbundle.com/modern-variation/">Category 2  </a></li><li class="hoverTrigger"><a href="http://adforest.scriptsbundle.com/minimal-veriation/">Category 3  </a></li><li class="hoverTrigger"><a href="http://adforest.scriptsbundle.com/fancy-veriation/">Category 4  </a></li><li class="hoverTrigger"><a href="http://adforest.scriptsbundle.com/flat-variation/">Category 5  </a></li>
                                                      </ul>
                                                    </li>
                                                    
                                                    <li class="hoverTrigger"><a href="#">Demos<i class="fa fa-angle-down fa-indicator"></i>
                                                          <div class="mobileTriggerButton"></div></a>
                                                          <div class="drop-down   grid-col-4 effect-expand-top" style="transition: all 400ms ease 0s;">
                                                              <div class="grid-row"><div class="grid-col-6"><h4><a href="#">Awesome</a></h4>
                                                            <ul>
                                                              <li><a href="http://adforest.scriptsbundle.com/"><i class="fa fa-angle-right fa-indicator"></i>General Classified  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/petforest/"><i class="fa fa-angle-right fa-indicator"></i>PetForest  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/techforest/"><i class="fa fa-angle-right fa-indicator"></i>TechForest  </a></li>
                                                              <li><a href="https://adforest.scriptsbundle.com/bookforest/"><i class="fa fa-angle-right fa-indicator"></i>MatchForest  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/sports-forest/"><i class="fa fa-angle-right fa-indicator"></i>Sportsforest  </a></li>
                                                              <li><a href="https://adforest.scriptsbundle.com/mobileforest/"><i class="fa fa-angle-right fa-indicator"></i>Mobileforest  </a></li>
                                                            </ul>
                                                      </div>
                                                      <div class="grid-col-6"><h4><a href="#">Websites</a></h4>
                                                            <ul>
                                                              <li><a href="https://adforest.scriptsbundle.com/bookforest/"><i class="fa fa-angle-right fa-indicator"></i>Bookforest  </a></li>
                                                              <li><a href="https://adforest.scriptsbundle.com/toyforest/"><i class="fa fa-angle-right fa-indicator"></i>Toyforest  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/serviceforest/"><i class="fa fa-angle-right fa-indicator"></i>Serviceforest  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/decorforest/"><i class="fa fa-angle-right fa-indicator"></i>Decorforest  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/realestate-forest/"><i class="fa fa-angle-right fa-indicator"></i>Realestateforest  </a></li>
                                                              <li><a href="http://adforest.scriptsbundle.com/landing-page/landingpage/"><i class="fa fa-angle-right fa-indicator"></i>App Landing Page  </a></li>
                                                            </ul>
                                                      </div>
                                                      </div>
                                                      </div>
                                                    </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        </header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>

        

















      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>