<div id="page-banner-area" class="page-banner">
    <div class="page-banner-title">
        <div class="text-center">
            <h2>Property -Blog</h2>
            <a href="#"><i class="lni-home"></i> Home</a>
            <span class="crumbs-spacer"><i class="lni-chevron-right"></i></span>
            <span class="current">Blog</span>
        </div>
    </div>
</div>

<div id="blog" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">

                <div class="blog-post">
                    <a href="single-blog.html" class="post-img">
                        <img class="img-fluid" src="assets/img/blog/blog-post1.jpg" alt="">
                    </a>

                    <div class="content">
                        <h2>
    <a href="single-blog.html">Great House on The Hills</a>
    </h2>
                        <ul class="post-meta">
                            <li>Novemer 12, 2018</li>
                            <li><a href="#">5 Comments</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent…</p>
                        <a href="single-blog.html" class="btn btn-common read-more">Read More <i class="lni-chevron-right"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="">
                    <div class="widget">
                        <h3 class="sidebar-title">Search Blog</h3>
                        <div class="search-blog-input">
                            <div class="input">
                                <input class="form-control" type="text" placeholder="Type and hit enter" value="">
                                <i class="lni-search"></i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget">
                        <h3 class="sidebar-title">Popular Posts</h3>
                        <ul class="widget-tabs">
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="single-blog.html"><img src="assets/img/blog/blog-widget-01.jpg" alt=""></a>
                                    </div>
                                    <div class="widget-text">
                                        <h5><a href="single-blog.html">What to Do a Year Before Buying Apartment </a></h5>
                                        <span>October 26, 2018</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h3 class="sidebar-title">Featured Properties</h3>
                        <div id="listing-carousel" class="owl-carousel">
                            <div class="item">
                                <div class="listing-item">
                                    <a href="#" class="listing-img-container">
                                        <img src="assets/img/productinfo/listing1.jpg" alt="">
                                        <div class="listing-badges">
                                            <span class="featured">Featured</span>
                                            <span>For Sale</span>
                                        </div>
                                        <div class="listing-content">
                                            <span class="listing-title">Eagle Apartments <i>$275,000</i></span>
                                            <ul class="listing-content">
                                                <li>Area <span>530 sq ft</span></li>
                                                <li>Rooms <span>3</span></li>
                                                <li>Beds <span>1</span></li>
                                                <li>Baths <span>1</span></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-item">
                                    <a href="#" class="listing-img-container">
                                        <img src="assets/img/productinfo/listing2.jpg" alt="">
                                        <div class="listing-badges">
                                            <span class="featured">Featured</span>
                                            <span>For Sale</span>
                                        </div>
                                        <div class="listing-content">
                                            <span class="listing-title">Eagle Apartments <i>$275,000</i></span>
                                            <ul class="listing-content">
                                                <li>Area <span>530 sq ft</span></li>
                                                <li>Rooms <span>3</span></li>
                                                <li>Beds <span>1</span></li>
                                                <li>Baths <span>1</span></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-item">
                                    <a href="#" class="listing-img-container">
                                        <img src="assets/img/productinfo/listing3.jpg" alt="">
                                        <div class="listing-badges">
                                            <span class="featured">Featured</span>
                                            <span>For Sale</span>
                                        </div>
                                        <div class="listing-content">
                                            <span class="listing-title">Eagle Apartments <i>$275,000</i></span>
                                            <ul class="listing-content">
                                                <li>Area <span>530 sq ft</span></li>
                                                <li>Rooms <span>3</span></li>
                                                <li>Beds <span>1</span></li>
                                                <li>Baths <span>1</span></li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-social">
                        <h3 class="sidebar-title">Social Media</h3>
                        <ul class="social-icons">
                            <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                            <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a class="google" href="#"><i class="lni-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>