
    <!-- Intro Section Start -->
    <div class="search-container">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title">Search Properties</h2>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="classic" id="category" name="category" (change)="CategoryChange($event.target.selectedIndex)" placeholder="Select Category">
                      <option value="0">-- All --</option>
                      <option *ngFor="let cat of Categories">{{cat.name}}</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="classic" (change)="SubCategoryChange($event.target.selectedIndex)">
                      <option>-- All --</option>
                      <option *ngFor="let cat of SubCategories">{{cat.name}}</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="classic" (change)="TypeChange($event.target.selectedIndex)">
                      <option>Type</option>
                      <option *ngFor="let ty of types">{{ty}}</option>
                    </select>
                  </label>
                </div>
              </div>
              
            </div>
            
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       + More Options
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    
                    <div class="row range-slider" >
                      <div *ngIf="Selected_Category && Selected_Category.city" class="col-lg-3 col-md-6 col-xs-12">
                        <div class="search-category-container">
                          <label class="styled-select">
                            <select class="classic">
                              <option>All Cities</option>
                              <option>San Jose</option>
                            </select>
                          </label>
                        </div>
                      </div>
                      <div *ngIf="Selected_Category && Selected_Category.bedrooms" class="col-lg-3 col-md-6 col-xs-12">
                          <div class="search-category-container">
                            <label class="styled-select">
                              <select class="classic">
                                <option>Rooms</option>
                                <option>1</option>
                                <option>2</option>                           
                                <option>3</option>                           
                                <option>4</option>                           
                                <option>5</option>                           
                                <option>8</option>
                              </select>
                            </label>
                          </div>
                      </div>
                      <div *ngIf="Selected_Category && Selected_Category.make" class="col-lg-3 col-md-6 col-xs-12">
                        <div class="search-category-container">
                          <label class="styled-select">
                            <select class="classic">
                              <option>Rooms</option>
                              <option>1</option>
                              <option>2</option>                           
                              <option>3</option>                           
                              <option>4</option>                           
                              <option>5</option>                           
                              <option>8</option>
                            </select>
                          </label>
                        </div>
                    </div>
                    <div *ngIf="Selected_Category && Selected_Category.year" class="col-lg-3 col-md-6 col-xs-12">
                      <div class="search-category-container">
                        <label class="styled-select">
                          <select class="classic">
                            <option>Rooms</option>
                            <option>1</option>
                            <option>2</option>                           
                            <option>3</option>                           
                            <option>4</option>                           
                            <option>5</option>                           
                            <option>8</option>
                          </select>
                        </label>
                      </div>
                  </div>
                    </div>
                
                  </mat-expansion-panel>
                </mat-accordion>
                
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Intro Section End -->
  
      <!-- Property Section Start -->
      <section class="property section-padding">
        <div class="container">
          
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title">Listings</h2>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="loading" style="justify-content: center;" ><mat-spinner></mat-spinner></div>
          <div class="row" *ngIf="!loading">
            <div *ngFor="let _post of Posts | postfilter: CategoryFilter : 'category' : CategoryFilterr :typeFilter " class="col-lg-4 col-md-6 col-xs-12">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" [src]="_post.image" alt="">
                      </a>
                      <div class="label-inner">
                      <span class="label-status label bg-red">{{_post.subcategory}}</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title"><a href="property.html">{{_post.title}}</a></h3>
                      <div class="adderess">{{_post.des}}</div>
                      <div *ngIf="_post.city" class="adderess"><i class="lni-map-marker mr-1"></i>{{_post.city}}</div>
                      <div *ngIf="_post.bedrooms" class="adderess"><i class="fa fa-bed mr-1"></i>{{_post.bedrooms}}</div>
                      <div *ngIf="_post.washrooms" class="adderess"><i class="fa fa-shower mr-1"></i>{{_post.washrooms}}</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>${{_post.price}}</span>
                        </div>
                       <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                      </div>
                    </div>               
                  </div>              
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <a href="listing.html" class="btn btn-common">Browse All</a>
              </div> 
            </div>  
          </div>
        </div>
      </section>
      <!-- Property Section End -->   
  
  
      <!-- Testimonial Section Start -->
      <section class="testimonial section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="testimonials" class="owl-carousel">
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img1.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Michael Papirov</a></h2>
                      <h4><a href="#">Customer</a></h4>
                    </div>
                  </div>
                </div>
               <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img2.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Josh Rossi</a></h2>
                      <h4><a href="#">Manager</a></h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img3.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Daniel Greem</a></h2>
                      <h4><a href="#">Customer</a></h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img4.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">John Doe</a></h2>
                      <h4><a href="#">Manager</a></h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img5.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Michael Papirov</a></h2>
                      <h4><a href="#">Customer</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial Section End -->
  
      <!-- Blog Section Start -->
      <section id="blog" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title">The Blog</h2>
                <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="blog-item text-center">
                <div class="blog-image">
                  <a href="#">
                    <img class="img-fluid" src="assets/img/blog/img1.jpg" alt="">
                  </a>
                </div>
                <div class="date">12 April, 2018</div>
                <div class="descr">
                  <h3 class="title">
                    <a href="single-blog.html">
                      Visual Design Concept
                    </a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                </div>
                <div class="blog-footer hide-on-list">
                  <div class="float-left">
                    <p class="prop-user"><a href="#"><i class="lni-user"></i> Admin</a></p>
                  </div>
                  <div class="float-right">
                    <span><i class="lni-heart"></i> 350</span>
                    <span><i class="lni-comments"></i> 30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="blog-item text-center">
                <div class="blog-image">
                  <a href="#">
                    <img class="img-fluid" src="assets/img/blog/img2.jpg" alt="">
                  </a>
                </div>
                <div class="date">12 April, 2018</div>
                <div class="descr">
                  <h3 class="title">
                    <a href="single-blog.html">
                      Real Estate Feswtival - 2018
                    </a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                </div>
                <div class="blog-footer hide-on-list">
                  <div class="float-left">
                    <p class="prop-user"><a href="#"><i class="lni-user"></i> Admin</a></p>
                  </div>
                  <div class="float-right">
                    <span><i class="lni-heart"></i> 350</span>
                    <span><i class="lni-comments"></i> 30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="blog-item text-center">
                <div class="blog-image">
                  <a href="#">
                    <img class="img-fluid" src="assets/img/blog/img3.jpg" alt="">
                  </a>
                </div>
                <div class="date">12 April, 2018</div>
                <div class="descr">
                  <h3 class="title">
                    <a href="single-blog.html">
                      Latest Architectural Design
                    </a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                </div>
                <div class="blog-footer hide-on-list">
                  <div class="float-left">
                    <p class="prop-user"><a href="#"><i class="lni-user"></i> Admin</a></p>
                  </div>
                  <div class="float-right">
                    <span><i class="lni-heart"></i> 350</span>
                    <span><i class="lni-comments"></i> 30</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Section End -->
  