<header id="header-wrap">
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 col-xs-12">
          <!-- Start Contact Info -->
          <ul class="links clearfix">
            <li><i class="lni-phone-handset"></i>1-800-555-1234</li>
            <li><i class="lni-envelope"></i> info@example.com</li>
            <li><a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</a></li>
          </ul>
          <!-- End Contact Info -->
        </div>
        <div class="col-lg-5 col-md-4 col-xs-12">
          <div class="roof-social float-right">
            <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
            <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
          </div>
          <div class="header-top-right float-right">
            <a href="/auth" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
            <a href="/auth/register" class="header-top-button"><i class="lni-pencil"></i> Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Bar -->

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white"  data-toggle="sticky-onscroll">
    <div class="container" >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="lin-menu"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="assets/img/logo.png" alt=""></a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-center">
          <li class="nav-item dropdown">
            <a class="nav-link" href="">
              Home <i class="fa fa-angle-down"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Listing <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu">
              <a *ngFor="let cat of Categories" class="dropdown-item" href="">{{cat.name}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gallery <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="portfolio-2.html">2 Columns Gallery</a>
              <a class="dropdown-item" href="portfolio-3.html">3 Columns Gallery</a>
              <a class="dropdown-item" href="portfolio-4.html">4 Columns Gallery</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="about.html">About Us</a>
              <a class="dropdown-item" href="agents.html">Agents</a>
              <a class="dropdown-item" href="rent.html">For Rent</a>
              <a class="dropdown-item" href="sale.html">For Sale</a>
              <a class="dropdown-item" href="pricing.html">Pricing Tables</a>
              <a class="dropdown-item" href="dashboard.html">Dashboard</a>
              <a class="dropdown-item" href="submit-property.html">Submission Form</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="testimonials.html">Testimonials</a>
              <a class="dropdown-item" href="typography.html">Typography</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="blog.html">Blog Page</a>
              <a class="dropdown-item" href="single-blog.html">Blog Single Page</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">
              Contact Us
            </a>
          </li>
          <li class="nav-item ml-1 active">
              <a class="nav-link" href="/post">
                Add Post <i class="fa fa-angle-down"></i>
              </a>
            </li>
        </ul>
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu">
      <li>
        <a class="active" href="index.html">
        Home
        </a>
        <ul class="dropdown">
          <li>
            <a class="active" href="index.html">
              Home V1
            </a>
          </li>  
          <li>
            <a href="index-2.html">
              Home V2
            </a>
          </li>   
          <li>
            <a href="index-3.html">
              Home V3
            </a>
          </li> 
        </ul>
      </li>
      <li>
        <a href="#">
          Listing
        </a>
        <ul class="dropdown">
          <li><a href="listing.html">Simple Listing</a></li>
          <li><a href="grid-listing.html">Grid Listing</a></li>
          <li><a href="listing-map.html">List with Google Map</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Property</a>
         <ul class="dropdown">
          <li><a href="property.html">Default- Variation</a></li>
          <li><a href="single-property.html">Single Property</a></li>
          <li><a href="full-gallery.html">Full Width Gallery</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          Gallery
        </a>
        <ul class="dropdown">
          <li><a href="portfolio-2.html">2 Columns Gallery</a></li>
          <li><a href="portfolio-3.html">3 Columns Gallery</a></li>
          <li><a href="portfolio-4.html">4 Columns Gallery</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Pages</a>
        <ul class="dropdown">
          <li><a href="about.html">About Us</a></li>
          <li><a href="agents.html">Agents</a></li>
          <li><a href="rent.html">For Rent</a></li>
          <li><a href="sale.html">For Sale</a></li>
          <li><a href="pricing.html">Pricing Tables</a></li>
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="submit-property.html">Submission Form</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="typography.html">Typography</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Blog</a>
        <ul class="dropdown">
          <li><a href="blog.html">Blog Page</a></li>
          <li><a href="single-blog.html">Blog Single Page</a></li>
        </ul>
      </li>
      <li>
        <a href="contact.html">
        Contact Us
        </a>
      </li>
    </ul>
    <!-- Mobile Menu End -->
  </nav>
  <!-- Navbar End -->
  <div class="clearfix"></div>
</header>
    <!-- Intro Section Start -->
    <div class="search-container">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title">Search Properties</h2>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="classic" id="category" name="category" (change)="CategoryChange($event.target.selectedIndex)" placeholder="Select Category">
                      <option value="0">-- All --</option>
                      <option *ngFor="let cat of Categories">{{cat.name}}</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="classic" (change)="SubCategoryChange($event.target.selectedIndex)">
                      <option>-- All --</option>
                      <option *ngFor="let cat of SubCategories">{{cat.name}}</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="search-category-container">
                  <label class="styled-select">
                    <select class="classic" (change)="TypeChange($event.target.selectedIndex)">
                      <option>Type</option>
                      <option *ngFor="let ty of types">{{ty}}</option>
                    </select>
                  </label>
                </div>
              </div>
              
            </div>
            
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       + More Options
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    
                    <div class="row range-slider" >
                      <div *ngIf="Selected_Category && Selected_Category.city" class="col-lg-3 col-md-6 col-xs-12">
                        <div class="search-category-container">
                          <label class="styled-select">
                            <select class="classic">
                              <option>All Cities</option>
                              <option>San Jose</option>
                            </select>
                          </label>
                        </div>
                      </div>
                      <div *ngIf="Selected_Category && Selected_Category.bedrooms" class="col-lg-3 col-md-6 col-xs-12">
                          <div class="search-category-container">
                            <label class="styled-select">
                              <select class="classic">
                                <option>Rooms</option>
                                <option>1</option>
                                <option>2</option>                           
                                <option>3</option>                           
                                <option>4</option>                           
                                <option>5</option>                           
                                <option>8</option>
                              </select>
                            </label>
                          </div>
                      </div>
                      <div *ngIf="Selected_Category && Selected_Category.make" class="col-lg-3 col-md-6 col-xs-12">
                        <div class="search-category-container">
                          <label class="styled-select">
                            <select class="classic">
                              <option>Rooms</option>
                              <option>1</option>
                              <option>2</option>                           
                              <option>3</option>                           
                              <option>4</option>                           
                              <option>5</option>                           
                              <option>8</option>
                            </select>
                          </label>
                        </div>
                    </div>
                    <div *ngIf="Selected_Category && Selected_Category.year" class="col-lg-3 col-md-6 col-xs-12">
                      <div class="search-category-container">
                        <label class="styled-select">
                          <select class="classic">
                            <option>Rooms</option>
                            <option>1</option>
                            <option>2</option>                           
                            <option>3</option>                           
                            <option>4</option>                           
                            <option>5</option>                           
                            <option>8</option>
                          </select>
                        </label>
                      </div>
                  </div>
                    </div>
                
                  </mat-expansion-panel>
                </mat-accordion>
                
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Intro Section End -->
  
      <!-- Property Section Start -->
      <section class="property section-padding">
        <div class="container">
          
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title">Listings</h2>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="loading" style="justify-content: center;" >
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="row" *ngIf="!loading">
            <div *ngFor="let _post of Posts | postfilter: CategoryFilter : 'category' : CategoryFilterr :typeFilter " class="col-lg-4 col-md-6 col-xs-12">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" [src]="_post.image" alt="">
                      </a>
                      <div class="label-inner">
                      <span class="label-status label bg-red">{{_post.subcategory}}</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title"><a href="property.html">{{_post.title}}</a></h3>
                      <div class="adderess">{{_post.des}}</div>
                      <div *ngFor="let f of _post.fields">
                      <div class="adderess"><i [class]="f.icon"></i>{{f.title}}:<span class="m-1">{{f.value}}</span></div>

                      </div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>${{_post.price}}</span>
                        </div>
                       <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                      </div>
                    </div>      
                    <div class="card-footer text-muted">
                      <div *ngFor="let f of _post.fields" style="display: inline; margin-right: 15px;">
                        <i [class]="f.icon"></i><span class="m-1">{{f.value}}</span>
                        </div>
                    </div>         
                  </div>              
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <a href="listing.html" class="btn btn-common">Browse All</a>
              </div> 
            </div>  
          </div>
        </div>
      </section>
      <!-- Property Section End -->   
  
  
      <!-- Testimonial Section Start -->
      <section class="testimonial section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="testimonials" class="owl-carousel">
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img1.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Michael Papirov</a></h2>
                      <h4><a href="#">Customer</a></h4>
                    </div>
                  </div>
                </div>
               <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img2.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Josh Rossi</a></h2>
                      <h4><a href="#">Manager</a></h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img3.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Daniel Greem</a></h2>
                      <h4><a href="#">Customer</a></h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img4.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">John Doe</a></h2>
                      <h4><a href="#">Manager</a></h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-item">
                    <div class="content">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    </div>
                  </div>
                  <div class="client-info">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img5.png" alt="">
                    </div>
                    <div class="info-text">
                      <h2><a href="#">Michael Papirov</a></h2>
                      <h4><a href="#">Customer</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial Section End -->
  
      <!-- Blog Section Start -->
      <section id="blog" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title">The Blog</h2>
                <p>Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="blog-item text-center">
                <div class="blog-image">
                  <a href="#">
                    <img class="img-fluid" src="assets/img/blog/img1.jpg" alt="">
                  </a>
                </div>
                <div class="date">12 April, 2018</div>
                <div class="descr">
                  <h3 class="title">
                    <a href="single-blog.html">
                      Visual Design Concept
                    </a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                </div>
                <div class="blog-footer hide-on-list">
                  <div class="float-left">
                    <p class="prop-user"><a href="#"><i class="lni-user"></i> Admin</a></p>
                  </div>
                  <div class="float-right">
                    <span><i class="lni-heart"></i> 350</span>
                    <span><i class="lni-comments"></i> 30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="blog-item text-center">
                <div class="blog-image">
                  <a href="#">
                    <img class="img-fluid" src="assets/img/blog/img2.jpg" alt="">
                  </a>
                </div>
                <div class="date">12 April, 2018</div>
                <div class="descr">
                  <h3 class="title">
                    <a href="single-blog.html">
                      Real Estate Feswtival - 2018
                    </a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                </div>
                <div class="blog-footer hide-on-list">
                  <div class="float-left">
                    <p class="prop-user"><a href="#"><i class="lni-user"></i> Admin</a></p>
                  </div>
                  <div class="float-right">
                    <span><i class="lni-heart"></i> 350</span>
                    <span><i class="lni-comments"></i> 30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="blog-item text-center">
                <div class="blog-image">
                  <a href="#">
                    <img class="img-fluid" src="assets/img/blog/img3.jpg" alt="">
                  </a>
                </div>
                <div class="date">12 April, 2018</div>
                <div class="descr">
                  <h3 class="title">
                    <a href="single-blog.html">
                      Latest Architectural Design
                    </a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                </div>
                <div class="blog-footer hide-on-list">
                  <div class="float-left">
                    <p class="prop-user"><a href="#"><i class="lni-user"></i> Admin</a></p>
                  </div>
                  <div class="float-right">
                    <span><i class="lni-heart"></i> 350</span>
                    <span><i class="lni-comments"></i> 30</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Section End -->
  

      <app-footer></app-footer>