


<div class="dashborad-box">
    <div class="listing-container list-layout">
        <div *ngFor="let post of posts" class="property-main">
        <div class="property-wrap">
        <div class="property-item">
        <div class="item-thumb">
        <a class="hover-effect" href="property.html">
        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
        </a>
        <div class="label-inner">
        <span class="label-status label bg-red">{{post.category}}</span>
        </div>
        </div>
        <div class="item-body">
        <h3 class="property-title"><a href="property.html">{{post.title}}</a></h3>
        <div class="adderess"><i class="lni-map-marker"></i> Drive Street, Los Angeles, US</div>
        <div *ngFor="let field of post.fields" class="adderess"><i [class]="field.icon"></i>{{field.value}}</div>
        <div class="pricin-list">
        <div class="property-price">
        <span>{{post.price}}</span>
        </div>
        <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
        </div>
        </div>
        </div>
        </div>
        </div>
      
        </div>
    
</div>